<mat-card>
  <table mat-table flex [dataSource]="dataSource" class="mat-elevation-z3" matSort>
    <ng-container matColumnDef="data">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Data</th>
      <td mat-cell *matCellDef="let card">
        {{ card.data | date : "dd/MM/yyyy HH:mm:ss" }}
      </td>
      <td mat-footer-cell *matFooterCellDef>Total</td>
    </ng-container>

    <ng-container matColumnDef="entrada">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>entrada</th>
      <td mat-cell *matCellDef="let card">
        {{ card.entrada | date : "dd/MM/yyyy HH:mm:ss" }}
      </td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <ng-container matColumnDef="saida">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>saida</th>
      <td mat-cell *matCellDef="let card">
        {{ card.saida | date : "dd/MM/yyyy HH:mm:ss" }}
      </td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <ng-container matColumnDef="horas_trabalhadas">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        Horas trabalhadas
      </th>
      <td mat-cell *matCellDef="let card">{{ card.horas_trabalhadas }}</td>
      <td mat-footer-cell *matFooterCellDef>{{getTotalHoras()}}</td>
    </ng-container>

    <ng-container matColumnDef="saldo">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>saldo</th>
      <td mat-cell *matCellDef="let card">{{ card.saldo }}</td>
      <td mat-footer-cell *matFooterCellDef>{{getTotalSaldo()}}</td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>actions</th>
      <td mat-cell *matCellDef="let card">
        <i class="material-icons update" (click)="updatePoint(card)">update</i>
        <i class="material-icons delete" (click)="deletePoint(card)">delete</i>
      </td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let row; columns: columnsToDisplay"></tr>
    <tr mat-footer-row *matFooterRowDef="columnsToDisplay; sticky: true"></tr>
  </table>
  <mat-paginator
    [length]="timecard.length"
    [pageSize]="5"
    [pageSizeOptions]="[1, 5, 10, 15, 30]"
    showFirstLastButtons
  ></mat-paginator>
</mat-card>
