mat-card {
  box-shadow: 0 0 0.5rem var(--deep-black-color);
  border-radius: 5px;
  overflow-x: scroll;
  padding: 0 0 1rem 0;
  height: 24.9;

  & th {
    text-transform: capitalize;
    letter-spacing: 0.1rem;
    font-weight: bold;
  }
}

.update,
.delete {
  margin: 0 0.5rem;
  cursor: pointer;
  font-size: 2rem;
}

.update {
  color: var(--mid-blue);
}

.delete {
  color: var(--mid-red);
}


@media (min-width:950px) {
  td {
    white-space: nowrap;
  }
}


@media (max-width: 650px) {
  mat-card {
    width: 28rem;
  }

  td {
    white-space: nowrap;
  }
}

@media (max-width: 450px) {
  mat-card {
    width: 23rem;
  }
}
