mat-card {
  box-shadow: 0 0 0.5rem var(--deep-black-color);
  border-radius: 5px;
  overflow-x: scroll;
  padding: 0 0 1rem 0;
  height: 24.9;
  transition: all 0.8 ease-in;

  & th {
    text-transform: capitalize;
    letter-spacing: 0.1rem;
    font-weight: bold;
  }
}

.update,
.delete {
  margin: 0 0.5rem;
  cursor: pointer;
  font-size: 2rem;
}

.update {
  color: var(--mid-blue);
}

.delete {
  color: var(--mid-red);
}

.export{
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-weight: bold;
  box-shadow: 0 0 0.5rem var(--deep-black-color);
  border: 2px solid var(--mid-white);
  border-radius: 0.5rem;
  color: var(--deep-black-color);
  background: var(--wave-color);
  padding: 0.5rem;
  & i{
    text-transform: lowercase;
  }
}

button:hover {
  box-shadow: 0 0 1rem var(--wave-color);
  border: 2px solid var(--deep-black-color);
  color: var(--text-color);
}

@media (min-width:950px) {
  td {
    white-space: nowrap;
  }
}

@media (max-width: 650px) {
  mat-card {
    width: 36rem;
  }

  td {
    white-space: nowrap;
  }
}

@media (max-width: 585px) {
  mat-card{
    width: 33rem;
  }
}

@media (max-width: 550px) {
  mat-card {
    width: 28rem;
  }
}
