<div class="contato">
  <mat-card>
    <mat-card-header>
      <img [src]="profile" alt="" />
      <div class="profile">
        <mat-card-title>Felipe Batista</mat-card-title>
        <mat-card-subtitle>Desenvolvedor Back-End JAVA</mat-card-subtitle>
        <mat-card-subtitle>Ciencia da Computação</mat-card-subtitle>
      </div>
    </mat-card-header>
    <mat-accordion multi>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Redes Socias e Projetos</mat-panel-title>
        </mat-expansion-panel-header>
        <div class="content">
          <a href="https://github.com/Felipeb26" target="_blank">
            verifique meu github
            <span class="github icon">
              <fa-icon [icon]="github"></fa-icon>
            </span>
          </a>
          <a
            href="https://www.linkedin.com/in/felipebatista-silva/"
            target="_blank"
          >
            verifique meu linkedin
            <span class="linkedin icon">
              <fa-icon [icon]="linkedin"></fa-icon>
            </span>
          </a>
        </div>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Contatos</mat-panel-title>
        </mat-expansion-panel-header>
        <div class="content">
          <a
            href="http://api.whatsapp.com/send?phone=5511971404157"
            target="_blank"
            >whatsapp
            <span class="whats icon">
              <fa-icon [icon]="whats"></fa-icon>
            </span>
          </a>
          <a href="mailto:felipeb2silva@gmail.com"
            >email
            <span class="mail icon">
              <fa-icon [icon]="mail"></fa-icon>
            </span>
          </a>
          <a href="tel:(11)971404157"
            >telefone
            <span class="phone icon">
              <fa-icon [icon]="phone"></fa-icon>
            </span>
          </a>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-card>
</div>
