<div class="contato">
  <mat-card>
  <mat-card-header>
    <img [src]="profile" alt="" />
    <div class="redes">
            <mat-card-title>redes sociais</mat-card-title>
      <span>linkedin:&nbsp;
        <a href="https://www.linkedin.com/in/felipebatista-silva/" target="_blank">verifique meu linkedin</a>
      </span>
      <span>github:&nbsp;
        <a href="https://github.com/Felipeb26" target="_blank">verifique meu github</a>
      </span>
    </div>
    <div class="contatos">
      <mat-card-title>contatos</mat-card-title>
      <span>telefone:&nbsp;
        <a href="tel:(11)971404157">telefone</a>
      </span>
      <span>whatsapp:&nbsp;
        <a href="http://api.whatsapp.com/send?phone=5511971404157" target="_blank">whatsapp</a>
      </span>
      <span>email:&nbsp;
        <a href = "mailto:felipeb2silva@gmail.com">email</a>
      </span>
    </div>
  </mat-card-header>
  <mat-card-content>
    <div class="hard-skills">
      <mat-card-title>hard skills</mat-card-title>
      <span>
        java
      </span>
    </div>
    <div class="soft-skills">
      <mat-card-title>soft skills</mat-card-title>
      <span>
        java
      </span>
    </div>
  </mat-card-content>
</mat-card>

</div>
