.contato {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 3.5rem 0;
}

mat-card {
  box-shadow: 0 0 0.5rem var(--deep-black-color);
  padding: 1rem 0.3rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 60%;

  & mat-card-header {
    display: flex;
    width: 95%;
  }

  & img {
    max-width: 5rem;
    border-radius: 5px;
    flex: 1;
    box-shadow: 0 0 0.5rem var(--deep-black-color);
    margin: 0 0.5rem;
  }

  .profile {
    margin: 0 1rem;
    word-wrap: break-word;
    flex: 2;
  }
}

mat-accordion {
  box-shadow: 0 0 5px var(--deep-black-color);
  border-radius: 5px;
  padding: 0 0.5rem;
  flex: 1;
  margin: 1rem 0 0 0;
  width: 95%;

  & mat-expansion-panel {
    margin: 1rem 0;
    box-shadow: 0 0 0.5rem var(--header-color);
    transition: all 0.8s ease-in-out;
  }

  & mat-expansion-panel:hover {
    box-shadow: 0 0 0.1rem var(--header-color);
    background: var(--background-color-t);
  }

  & mat-panel-title {
    letter-spacing: 0.1rem;
    white-space: nowrap;
    font-weight: bold;
  }

  & a {
    box-shadow: 0 1px 0 var(--deep-black-color);
    width: 100%;
    margin: 0.5rem 0;
    padding: 0.2rem 0.5rem;
    justify-content: space-around;
    display: flex;
    align-items: center;
    border-radius: 5px;
    transition: all 0.5s ease-in-out;
    font-weight: bold;
    letter-spacing: 0.05rem;
    color: var(--text-color);
  }

  & a:hover {
    background: var(--background-color-t);
    color: var(--bright-text-color);
  }
}

.icon {
  margin: auto;
  padding: 0.3rem 0.3rem 0.2rem 0.3rem;
  border-radius: 5px;
  border: 2px solid var(--deep-black-color);
  box-shadow: 0 0 2px var(--deep-black-color);
  background: var(--bright-white);
  transition: all 0.5s ease-in-out;


  & fa-icon {
    font-size: 1.5rem;
    transition: all 0.5s ease-in-out;
  }
}

.github {
  & fa-icon {
    color: var(--deep-black-color);
  }
}

.whats {
  & fa-icon {
    color: var(--mid-green);
  }
}

.mail {
  & fa-icon {
    color: var(--mid-red);
  }
}

.github:hover {
  background: var(--deep-black-color);

  & fa-icon {
    color: var(--bright-white);
  }
}

.linkedin:hover,
.phone:hover {
  background: var(--text-color);

  & fa-icon {
    color: var(--bright-white);
  }
}

.whats:hover {
  background: var(--mid-green);

  & fa-icon {
    color: var(--bright-white);
  }
}

.mail:hover {
  background: var(--mid-red);

  & fa-icon {
    color: var(--bright-white);
  }
}

@media (max-width:750px) {

  mat-card {
    width: 22rem;
    align-items: flex-start;
    justify-content: center;
    padding: 0 0.5rem;
  }

  img {
    max-height: 7.4rem;
  }

  mat-accordion {
    margin: 1rem 0 0.5rem 0;
    width: 95%;

    & mat-panel-title,
    mat-panel-description {
      text-decoration: underline;
      color: var(--text-color);
    }

    & .content {
      display: flex;
      flex-direction: column;

      & a {
        text-transform: capitalize;
        color: var(--bright-text-color);
        font-weight: 500;
      }
    }
  }
}
