<div class="main-time">

  <div class="time">
    <div class="hours">
      <i class="material-icons" (click)="upValue(0)">
        expand_less
      </i>
      <ul id="hours">
        <li [contentEditable]="true" class="active">
          {{hora}}
        </li>
      </ul>
      <i class="material-icons" (click)="downValue(0)">
        keyboard_arrow_down
      </i>
    </div>
    <div class="divide">
      <span>-</span>
      <span>-</span>
    </div>
    <div class="minutes">
      <i class="material-icons" (click)="upValue(1)">
        expand_less
      </i>
      <ul id="minutes">
        <li [contentEditable]="true" class="active">
          {{minuto}}
        </li>
      </ul>
      <i class="material-icons" (click)="downValue(1)">
        keyboard_arrow_down
      </i>
    </div>
    <button type="button" mat-raised-button (click)="getTime()">
      ok
    </button>
  </div>

</div>
