.main-time {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  flex-direction: column;
}

.time {
  display: inline-flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  max-height: 100vh;
  padding: 0.5rem;
}

.divide {
  display: flex;
  align-items: center;
  flex-direction: column;

  & span {
    margin: 0.2rem 0;
    border-radius: 50%;
    height: 12px;
    width: 12px;
    background: #1b1a1a;
    font-size: 2px;
  }
}

.hours,
.minutes {
  background: #8d8c8c42;
  margin: 1rem 0.2rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

ul {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  max-height: 6.5vh;

  & li {
    white-space: nowrap;
    padding: 0.8rem;
    width: calc(50% / 2);
    text-align: center;
    position: relative;
    font-weight: 550;
    z-index: 1;
    cursor: pointer;
    transition: all 0, 5 ease-in;
  }

  & li::before {
    content: "";
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
  }

  & li:hover::before {
    background: #f2f2f2;
  }

  & li.active::before {
    background: #92c9c4;
  }

}

.material-icons {
  cursor: pointer;
  border: 1px solid transparent;
  text-align: center;
  width: 100%;
  background: #f2f2f239;
  border-radius: 0.5rem;
}

.material-icons:hover {
  color: #378881;
}

.material-icons:active {
  box-shadow: 0 0 0.5rem #92c9c4;
  border: 1px solid #92c9c4;
}


::-webkit-scrollbar {
  width: 0.5rem;
  border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background: #00bfb2;
  border-radius: 0.5rem;
  border: 1px solid #f2f2f2;
}

::-webkit-scrollbar-track {
  background: #92c9c4;
}
