<mat-card>
  <mat-card-title>
    Ponto
    {{
    cardpoint == undefined ? "Novo" : (cardpoint.dataCadastro | date : "dd MMMM yyyy")
    }}
  </mat-card-title>
      <div class="error" *ngIf="error">
        <p>todos os campos devem ser preenchidos para salvar</p>
      </div>
  <form #point="ngForm" [formGroup]="pointgroup">

    <datetime-control [placeholder]="placeholder_1" (value)="getDataCadastro($event)"></datetime-control>
    <datetime-control [placeholder]="placeholder_2" (value)="getDataEntrada($event)"></datetime-control>
    <datetime-control [placeholder]="placeholder_3" (value)="getDataSaida($event)"></datetime-control>

    <mat-card-content>
      <mat-form-field>
        <mat-label>horas por dia</mat-label>
        <mat-select formControlName="jornadaTrabalho" required>
          <mat-option> --NONE-- </mat-option>
          <mat-option *ngFor="let hora of horas_dia" [value]="hora">
            {{hora}} horas
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label> tempo de almoco </mat-label>
        <mat-select formControlName="horasAlmoco" required>
          <mat-option> --NONE-- </mat-option>
            <mat-option *ngFor="let almoco of horas_almoco" [value]="almoco">
              {{almoco < 10 ? almoco + ' Hora(s)' : almoco +' Minutos'}}
            </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-card-content>



    <mat-card-actions>
      <button mat-raised-button type="submit" [disabled]="!btnSaveDisabled" (click)="markPointcard(point)">
        {{ cardpoint == undefined ? "salvar" : "atualizar" }}
      </button>
      <button mat-raised-button class="reset" type="button" (click)="resetFullForm()">
        limpar
      </button>
    </mat-card-actions>
  </form>
</mat-card>
