mat-card {
  box-shadow: 0 0 0.5rem var(--deep-black-color);
  padding: 1rem;
  border-radius: 5px;
  height: 30rem;

  & mat-card-title {
    text-align: center;
    margin: 0 0 0.5rem 0;
    font-weight: bold;
    letter-spacing: 0.1rem;
  }
}

// input[type="datetime-local"] {
//   border: none;
//   font-weight: bold;
//   position: relative;
//   font-size: 1rem;
// }

// mat-content {
//   display: flex;
//   flex-wrap: wrap;
//   flex-direction: column;

//   & .child_content {
//     margin: 0.5rem 0;
//     width: 100%;
//     align-items: baseline;
//     display: flex;
//     justify-content: space-around;
//   }

//   & input {
//     border-bottom: 2px solid var(--deep-black-color);
//   }

//   & span {
//     text-transform: capitalize;
//     letter-spacing: 0.1rem;
//     font-weight: bold;
//   }

//   & label {
//     font-weight: 500;
//     text-transform: uppercase;
//     letter-spacing: 0.5px;
//   }

//   & mat-form-field {
//     width: 80%;
//     margin: 0 1rem;
//   }

// }

// .time_content {
//   margin: 0.5rem 0;
//   display: flex;
//   justify-content: space-evenly;

//   & span {
//     letter-spacing: 0.1rem;
//     font-weight: bold;
//     // margin: 0 0.5rem 0 0;
//   }

//   & label {
//     font-weight: 550;
//     text-transform: uppercase;
//   }
// }

// mat-card-actions {
//   justify-content: center;

//   & button {
//     margin: 0 1.5rem 0.5rem 1.5rem;
//   }

//   .reset {
//     box-shadow: 0 0 0.5rem var(--deep-black-color);
//     border: 2px solid var(--bright-white);
//     background: var(--mid-red);
//     color: var(--bright-white);
//     text-transform: uppercase;
//   }

//   button[type="submit"] {
//     box-shadow: 0 0 0.5rem var(--deep-black-color);
//     border: 2px solid var(--bright-white);
//     background: var(--mid-green);
//     color: var(--bright-white);
//     text-transform: uppercase;
//   }
// }


// @media (max-width: 650px) {
//   mat-card {
//     width: 28rem;
//   }
// }

// @media (max-width: 450px) {
//   mat-card {
//     width: 23rem;
//   }
// }


form{
  padding: 1.5rem;
}
