mat-card {
  transition: all 0.5s ease-in-out;
  box-shadow: 0 0 0.5rem var(--deep-black-color);
  padding: 1rem;
  border-radius: 5px;
  height: 30rem;

  & mat-card-title {
    text-align: center;
    margin: 0 0 0.5rem 0;
    font-weight: bold;
    letter-spacing: 0.1rem;
  }
}

mat-card-content {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;

  & mat-form-field {
    margin: 0 1rem;
    flex: 1;
  }
}

mat-card-actions {
  justify-content: center;

  & button {
    margin: 0 1.5rem 0.5rem 1.5rem;
  }

  .reset {
    box-shadow: 0 0 0.5rem var(--deep-black-color);
    border: 2px solid var(--bright-white);
    background: var(--mid-red);
    color: var(--bright-white);
    text-transform: uppercase;
  }

  button[type="submit"] {
    box-shadow: 0 0 0.5rem var(--deep-black-color);
    border: 2px solid var(--bright-white);
    background: var(--mid-green);
    color: var(--bright-white);
    text-transform: uppercase;
  }
}

form {
  padding: 0.5rem 1.5rem 1.5rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

datetime-control {
  transition: all 0.5s ease-in-out;
  width: 100%;
  margin: 0.5rem 0;
}

.error {
  box-shadow: 0 0 0.5rem var(--deep-black-color);
  margin: 0.1rem 0;
  padding: 1rem;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.1rem;
  font-weight: bold;
  color: var(--mid-red);
}

@media (max-width: 650px) {
  mat-card {
    width: 35rem;
  }
}

@media (max-width: 580px) {
  mat-card {
    width: 28rem;
  }
}
