mat-card {
  box-shadow: 0 0 0.5rem var(--deep-black-color);
  padding: 1rem;
  border-radius: 5px;

  & mat-card-title {
    text-align: center;
    margin: 0 0 2rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
  }
}

input[type="datetime-local"] {
  border: none;
  font-weight: bold;
  position: relative;
  font-size: 1rem;
}


mat-content {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: auto auto auto;
  height: 40vh;
  align-items: center;

  & input {
    border-bottom: 2px solid var(--deep-black-color);
  }

  & span {
    letter-spacing: 0.5px;
    font-weight: bold;
  }

  & label {
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.5px;
  }
}


.time_content {
  margin: 1rem 0;
  display: flex;
  justify-content: space-between;

  & span {
    letter-spacing: 0.1rem;
    font-weight: bold;
  }

  & label {
    font-weight: 550;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
  }
}

mat-card-actions {
  justify-content: center;

  & button {
    margin: 0 1.5rem;
  }

  button[type="reset"] {
    box-shadow: 0 0 0.5rem var(--deep-black-color);
    border: 2px solid var(--bright-white);
    background: var(--mid-red);
    color: var(--bright-white);
    text-transform: uppercase;
  }

  button[type="submit"] {
    box-shadow: 0 0 0.5rem var(--deep-black-color);
    border: 2px solid var(--bright-white);
    background: var(--mid-green);
    color: var(--bright-white);
    text-transform: uppercase;
  }
}
