<mat-card>
  <mat-card-title>
    Ponto
    {{
    cardpoint == undefined ? "Novo" : (cardpoint.data | date : "dd MMMM yyyy")
    }}
  </mat-card-title>

  <form #point="ngForm" (ngSubmit)="markPointcard()" [formGroup]="pointgroup">
    <mat-card>
      <mat-form-field>
        <input type="datetime" matInput>
      </mat-form-field>

      <!-- <mat-content>
      <div class="child_content">
        <span>Data Ponto:</span>
        <input
          type="datetime-local"
          formControlName="data"
          [min]="data"
          (ngModelChange)="showDate($event)"
        />
        <label>
          {{
            cardpoint == undefined
              ? ""
              : (cardpoint.data | date : "dd/MM/yyyy HH:mm")
          }}
        </label>
      </div>
      <div class="child_content">
        <span>Data Entrada:</span>
        <input
          type="datetime-local"
          formControlName="entrada"
          [min]="data"
          (ngModelChange)="getEntrada($event)"
        />
        <label>
          {{
            cardpoint == undefined
              ? ""
              : (cardpoint.entrada | date : "dd/MM/yyyy HH:mm")
          }}
        </label>
      </div>

      <div class="child_content">
        <span>Data Saída:</span>
        <input
          type="datetime-local"
          formControlName="saida"
          [min]="selectEntrada"
          (ngModelChange)="getSaida($event)"
        />
        <label>
          {{
            cardpoint == undefined
              ? ""
              : (cardpoint.saida | date : "dd/MM/yyyy HH:mm")
          }}
        </label>
      </div>

      <div class="child_content">
        <mat-form-field>
          <mat-label>Horas Trabalhadas por dia</mat-label>
          <mat-select (valueChange)="setHorasDia($event)">
            <mat-option>-- None --</mat-option>
            <mat-option *ngFor="let hora of horas_dia" [value]="hora"
              >{{ hora }} horas</mat-option
            >
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Tempo de almoço</mat-label>
          <mat-select (valueChange)="setTempoAlmoco($event)">
            <mat-option>-- None --</mat-option>
            <mat-option *ngFor="let moco of almoco" [value]="moco">{{
              moco > 10 ? moco + " minutos" : moco + " hora(s)"
            }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </mat-content>

    <div class="time_content">
      <div>
        <span>Horas Trabalhadas:</span>
        <label>{{ horas }}</label>
        <label>
          {{ cardpoint == undefined ? "" : cardpoint.horas_trabalhadas }}
        </label>
      </div>
      <div>
        <span>Saldo de Horas:</span>
        <label>{{ saldo }}</label>
        <label>
          {{ cardpoint == undefined ? "" : cardpoint.saldo }}
        </label>
      </div>
    </div>

    <mat-card-actions>
      <button mat-raised-button type="submit" [disabled]="btnSaveDisabled">
        {{ cardpoint == undefined ? "salvar" : "atualizar" }}
      </button>
      <button
        mat-raised-button
        class="reset"
        type="button"
        (click)="resetFullForm()"
      >
        limpar
      </button>
    </mat-card-actions> -->
    </mat-card>
  </form>
</mat-card>
