button[type="button"] {
  width: 100%;
  align-items: center;
  text-transform: capitalize;
  margin: 0.2rem 0;
  text-shadow: 0 0 0.3rem var(--bright-white);

  & .material-icons {
    margin: 0 0.5rem;
  }
}

mat-toolbar {
  box-shadow: 0 0 1rem var(--deep-black-color);
  background: var(--header-color);
  height: 5rem;
  padding: 1rem;
  display: flex;
  align-items: center;

  & img {
    filter: brightness(1.4) drop-shadow(0 0 0.5rem var(--bright-white));
    cursor: pointer;
    height: 7rem;
    flex: 1;
  }

  & h1 {
    text-transform: capitalize;
    letter-spacing: 0.1rem;
    font-weight: bold;
    font-size: 2rem;
    color: var(--text-color);
    flex: 4;
    text-align: center;
    cursor: pointer;
    text-shadow: 0 0 0.3rem var(--bright-white);
    transition: all 0.8s ease-in-out;
    font-style: italic;
  }

  & h1:hover{
    filter: brightness(1.4);
    font-size: 2.2rem;
  }
}

.nav {
  display: flex;
  flex-direction: row;
  flex: 2;

  & li {
    letter-spacing: 0.5px;
    font-style: italic;
    margin: 0 0.5rem;
    justify-content: flex-end;
    flex: 1;
  }

  & button {
    position: relative;
    text-decoration: none;
    letter-spacing: 0.5px;
    font-size: 1rem;
    transition: all 0.3s ease-in-out;
    color: var(--text-color);
    font-weight: bold;
    text-align: center;
    line-height: 1rem;
    background: transparent;
  }

  & button:after {
    content: "";
    position: absolute;
    background-color: var(--bright-green);
    width: 100%;
    height: 3px;
    left: 0;
    right: 0;
    bottom: -0.4rem;
    transition: all 0.5s ease-in-out;
    transform: scale(0, 0.8);
  }

  & button:hover::after {
    transform: scale(0.8, 0.8);
  }

}

.nav_menu {
  border: 1px solid var(--deep-black-color);
  background: var(--black-t);
  z-index: 5;
  position: absolute;
  right: 0.5rem;
  top: 4.5rem;
  width: fit-content;
  backdrop-filter: blur(15px);
  overflow: hidden;
  border-radius: 15px;
  padding: 0.5rem 0.1rem;

  & li {
    padding: 0 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  & button {
    position: relative;
    text-decoration: none;
    letter-spacing: 0.5px;
    font-size: 1rem;
    transition: all 0.3s ease-in-out;
    color: var(--text-color);
    font-weight: bold;
    text-align: center;
    line-height: 1rem;
    background: transparent;
  }

  & button:after {
    content: "";
    position: absolute;
    background-color: var(--bright-green);
    width: 100%;
    height: 3px;
    left: 0;
    right: 0;
    bottom: -0.4rem;
    transition: all 0.5s ease-in-out;
    transform: scale(0, 0.8);
  }

  & button:hover::after {
    transform: scale(0.8, 0.8);
  }
}

@media (min-width: 750px) {

  .menu,
  .nav_menu {
    display: none;
  }
}

@media (max-width: 750px) {
  .nav {
    display: none;
  }

  .menu {
    box-shadow: 0 0 0.5rem var(--bright-white);
    border: 1px solid var(---bright-text-color);
    color: var(--bright-white);
    border-radius: 50%;
    font-size: 1.5rem;

    & .material-icons {
      margin: auto;
    }
  }

  .menu:active {
    box-shadow: inset 0 0 1rem var(--bright-white);
  }


}

@media (max-width: 450px) {
  mat-toolbar {
    & img {
      height: 5rem;
    }
  }

  .menu{
    flex: 1;
  }
}

section {
  margin: auto;
  position: absolute;
  width: 100%;
  height: 8rem;
  background: var(--wave-color);
  overflow: hidden;
  z-index: -2;
}

.wave{
  position: absolute;
  top: 4rem;
  width: 100%;
  height: 8rem;
  background: var(--wave-color) url("../../../assets/wave.png");
  background-size: 100rem 5rem;
  animation: wave_balance 20s linear infinite;
  z-index: 4;
}

@keyframes wave_balance{
  0%{
    background-position-x: 100rem ;
  }

  100%{
    background-position-x: 0;
  }
}
