.card {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: -3rem 0 3rem 0;
}


form {
  box-shadow: 0 0 0.5rem var(--deep-black-color);
  width: 55rem;
  transition: all 0.5s ease-in-out;
}

mat-card {
  box-shadow: 0 0 0.5rem var(--deep-black-color);
  padding: 2rem;

  & mat-label {
    text-transform: capitalize;
    color: var(--text-color);
    font-weight: 550;
  }

  & mat-hint {
    text-transform: uppercase;
    color: var(--mid-red);
  }

  & mat-form-field {}

  & button[type="button"] {
    box-shadow: inset 0 0 0.3rem var(--text-color), 0 0 0.3rem var(--deep-black-color);
    border: 1px solid var(--deep-black-color);
    margin: 0 0.5rem;
    color: var(--text-color);
  }

  & button[type="button"]:active {
    box-shadow: 0 0 0.8rem var(--text-color);
  }

}

mat-card-actions {
  display: flex;
  align-items: center;
  justify-content: space-around;

  & button {
    transition: all 0.5s ease-in-out;
    filter: brightness(1.1);
    letter-spacing: 0.1rem;
    font-weight: 550;
  }

  & button[type="reset"] {
    box-shadow: 0 0 0.5rem var(--deep-black-color);
    border: 2px solid var(--mid-white);
    border-radius: 0.8rem;
    padding: 1rem;
    background: var(--mid-red);
    color: var(--bright-white);
    text-transform: uppercase;
  }

  & button[type="submit"] {
    box-shadow: 0 0 0.5rem var(--deep-black-color);
    border: 2px solid var(--mid-white);
    border-radius: 0.8rem;
    padding: 1rem;
    background: var(--header-color);
    color: var(--bright-white);
    text-transform: uppercase;
  }

  & button[type="reset"]:hover {
    box-shadow: 0 0 0.8rem var(--mid-red);
    filter: brightness(1.3);
  }

  & button[type="submit"]:hover {
    box-shadow: 0 0 0.8rem var(--header-color);
    filter: brightness(1.3);
  }

  & button:active {
    color: var(--deep-black-color);
  }
}



@media (max-width: 900px) {
  form {
    width: 35rem;
  }
}


@media (max-width: 550px) {
  form {
    width: 25rem;
  }
}
