.login {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: -4rem 0 0.4rem 0;
}

mat-card {
  box-shadow: 0 0 1rem var(--deep-black-color);
  padding: 1rem;
  margin: 2rem 0;
  transition: all 0.8s ease-in-out;

  & img {
    width: 18.5rem;
    aspect-ratio: 1/0.8;
    border-radius: 50%;
    border: 2px solid var(--deep-black-color);
    margin: 0.5rem;
    box-shadow: inset 0 0 1rem var(--deep-black-color);
    filter: brightness(1.3) drop-shadow(0 0 0.5rem var(--bright-white));
    transition: all 0.8s ease-in-out;
  }

  & img:hover {
    box-shadow: 0 0 0.5rem var(--deep-black-color);
    filter: brightness(1.6) drop-shadow(0 0 0.2rem var(--deep-black-color));
  }

  & .pass {
    cursor: pointer;
  }
}

mat-action {
  justify-content: center;
  flex-direction: column;
  display: flex;

  & .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.5rem 0 1rem 0;

    & button {
      box-shadow: 0 0 0.5rem var(--deep-black-color);
      border: 2px solid var(--bright-white);
      background: var(--mid-green);
      color: var(--bright-white);
      text-transform: uppercase;
      transition: all 0.5s ease-in-out;
    }

    & button:hover {
      background: var(--wave-color);
      box-shadow: 0 0 1rem var(--wave-color);
      border: 2px solid var(--deep-black-color);
      color: var(--text-color);
    }
  }

  .links {
    display: flex;
    justify-content: center;
    color: var(--bright-text-color);

    & a {
      text-decoration-thickness: 0.15rem !important;
      text-decoration: underline;
      color: var(--bright-text-color);
      cursor: pointer;
      transition: all 0.5s ease;
    }

    & a:hover {
      -webkit-text-decoration-color: var(--wave-color);
      text-decoration-color: var(--wave-color);
      color: var(--deep-black-color);
    }

    & hr {
      margin: 0 2rem;
      height: 1.5rem;
      width: 0.1rem;
      background: var(--deep-black-color);
    }
  }

}

.logins {
  margin: 0.5rem 0 0 0;
  text-transform: capitalize;
  font-weight: 550;
  text-decoration: underline;

  & span {
    color: var(--deep-black-color);
    text-decoration: underline;
    padding: 0.9rem 0.4rem 0.8rem 0.4rem;
    transition: all 0.5s ease-in-out;
    border-radius: 5px;
    border: 1px solid var(--deep-black-color);
    box-shadow: 0 0 0.5rem var(--deep-black-color), inset 0 0 0.1rem var(--deep-black-color);
    cursor: pointer;
    transition: all 0.8s ease-in-out;
  }

  & span:hover {
    color: var(--bright-white);
    background: var(--deep-black-color);
  }
}

mat-error {
  text-transform: capitalize;
}

@media (max-width: 450px) {
  mat-card {
    & img {
      width: 17rem;
    }
  }

}
