.home {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.resume {
  flex: 1;
  font-size: large;
  line-height: 1.3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 2rem 0 0;
}

.style {
  flex: 2;
  background: url("../../../assets/batworks.png") var(--header-color);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  clip-path: polygon(0 0, 88% 0, 77% 100%, 0% 100%);
  filter: brightness(1.3) drop-shadow(0 0 0.5rem var(--bright-white));
}


@media (max-width: 750px) {
  .resume {
    font-size: small;
    word-wrap: break-word;
  }

  .style {
    background: url("../../../assets/batworks.png") var(--header-color);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    clip-path: polygon(0 0, 92% 0, 77% 100%, 0% 100%);
    filter: brightness(1.3) drop-shadow(0 0 0.5rem var(--bright-white));
  }
}
