@import '../node_modules/@syncfusion/ej2-material-theme/styles/material.css';
// regular style toast
@import 'ngx-toastr/toastr';
@import '@sweetalert2/themes/dark/dark.scss';

* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}

:root {
  --wave-color: #92c9c4;
  --text-color: #1046a9;
  --background-color: #00bfb2;
  --header-color: #2c7b6d;

  /* //transparent colors */
  --background-color-t: #00bf5636;
  --black-t: rgba(0, 0, 0, 0.32);

  /* // dark-colors */
  --deep-black-color: rgb(21, 21, 21);

  /*mid tons  */
  --mid-green: #197d19;
  --mid-black: rgb(30, 30, 30);
  --mid-red: rgb(250, 20, 20);
  --mid-blue: rgb(20, 20, 250);
  --mid-yellow: rgb(230, 230, 50);
  --mid-white: rgba(239, 239, 239, 0.723);

  /* bright colors */
  --bright-yellow: rgb(240, 240, 0);
  --bright-black: #222024;
  --bright-green: rgb(0, 240, 0);
  --bright-white: rgb(233, 233, 233);
  --bright-text-color: rgb(17, 92, 231);
}


html,
body {
  height: 100%;
  overflow-x: hidden;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

input::-webkit-calendar-picker-indicator {
  height: 1.8rem;
  width: 1.8em;
  box-shadow: inset 0 0 0.5rem var(--bright-green);
  border-radius: 5px;
  cursor: pointer;
}

::-webkit-scrollbar-track {
  background: var(--bright-green);
}

::-webkit-scrollbar {
  width: 0.3rem;
  height: 0.4rem;
  border: none;
}

::-webkit-scrollbar-thumb {
  background: var(--header-color);
  border-radius: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  appearance: textfield;
  -moz-appearance: textfield;
}

input::-ms-reveal,
input::-ms-clear {
  display: none;
}

button {
  transition: all 0.3s ease-in-out;
}

button:active {
  transform: translateY(-3px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}
